body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  color: white;
  margin: 1px;
  padding: 1px;
}

header {
  text-align: center;
  padding: 50px 50px;
  background: linear-gradient(180deg, #1a1a1a, #0a0a0a);
}

headerMassive {
    font-size: 508px;
    text-align: center;
    padding: 1px 1px;

}

.flex-container {
    display: flex;
    justify-content: space-around;
}
h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}
logo {
 float: right;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 64px;
   font-size: 108px;
}

button:hover {
  background-color: #0056b3;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

img {
  width: 100%;
  margin: 10px 0;
  border-radius: 8px;
}


.slideshow {
  position: relative;
  max-width: 800px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

.projectButton {
    font-size: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* full screen */
}

.slide.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.footer {
    text-align: center;
}

.next {
  right: 10px;
}

.site-header {
    background-image: url('./images/logos/SpriteWareLogo1X2.jpg'); /* path to your image */
    background-size: cover; /* make it fill the header */

    background-position: center; /* center the image */
    background-repeat: no-repeat;
    color: white; /* adjust text color for visibility */
    padding: 200px 200px; /* gives the header some height */
    text-align: center;
}

.studio-logo {
    text-align: center;
    background-image: url('images/logos/SpriteWareLogo1X2.jpg');
}

.projectHeader {
    text-align: center;
    font-size: 500px;
    height: 500px;
    width: 500px;
    cursor: pointer;
}

.infoText {
    background-position: center;
    text-align: center;
    font-size: 50px;
}

/* Style the links inside the navigation bar */
.topnav {
    width: 1000px; /* or max-width */
    margin: 0 auto; /* centers the whole navbar */
    background-color: #0a0a0a;
    overflow: hidden; /* clears the floats */
}

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 25px 25px;
        text-decoration: none;
        font-size: 25px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #04AA6D;
        color: white;
    }

.team-img {
    width: 500px;
    height: 500px;
    object-fit: cover; /* keeps aspect ratio, crops if needed */
    flex-shrink: 0; /* prevents flexbox from shrinking it */
}